* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $primary;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 7px;
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}

.inp {
    .inp__item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        padding: 15px;
        border: 1px solid $grayish_blue;
        border-radius: 5px;

        input {
            border: none;
            width: 100%;
            background-color: transparent;
            font-size: 0.9rem;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            color: $dark_blue;
        }

        input:focus {
            outline: none;
        }

        img {
            display: none;
        }
    }

    p {
        visibility: hidden;
        text-align: end;
        font-style: italic;
        font-size: 0.7rem;
        color: $primary;
    }

    &.invalid {
        .inp__item {
            border-color: $primary;

            img {
                display: block;
            }
        }

        p {
            visibility: visible;
        }
    }
}

.attribution {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}